@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallMedium {
  @media (min-width: 767px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 960px) {
    @mixin-content;
  }
}

* {
 box-sizing: border-box;	
}
html{
  font-size: 16px;
    }
body {
 /* font-family: 'Roboto', sans-serif;*/
   font-family: 'BebasNeueRegular', sans-serif; 
   font-weight: normal; 
   font-style: normal; 
   padding-top: 105px;
}